* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #ff690c;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content {
  display: flex;
  min-height: 100vh;
}

.app-side-section{
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  margin: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 900px) {
  body {
    background-color: #e4890a;
  }

  .app-side-section{
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    margin-top: 60px;
    border-radius: 25px;
  }
}